{% extends 'base.html' %}
{% load static %}


{% block content %}
<div>
<form class="form" id="login-form">
    <div class="flex-column">
        <label>Email </label>
    </div>
    <div class="inputForm">
        <input type="text" class="input" placeholder="Enter your Email">
    </div>
    
    <div class="flex-column">
        <label>Password </label>
    </div>
    <div class="inputForm">
        <input type="password" class="input" placeholder="Enter your Password">
    </div>
    <button class="button-submit">Sign In</button>
    <a href="{% url 'signup-page'%}"><p class="p">Don't have an account? <span class="span">Sign Up</span>
</form>
</div>

{% endblock content %}


{% block scripts %}
    <script src="{% static 'js/login.js' %}?v=2"></script>
{% endblock scripts %}
