{% extends 'base.html' %}

{% load static %}
{% block content %}
        <div class="filters-block">
        <h3>Filters</h3>
        <form>
            <div class="filter-item">
                <label for="city">City:</label>
                <select id="city-choices" name="city">
                    <option value="">All</option>
                </select>
            </div>

            <div class="filter-item">
                <label for="event-type">Event Type:</label>
                <select id="event-type" name="event-type">
                    <option value="">All</option>
                    <option value="gig">Gig</option>
                    <option value="collaboration">Collaboration</option>
                </select>
            </div>

            <div class="filter-item">
                <label>Genres:</label>
                <div id='genres-options'>
                </div>
            </div>

            <div class="filter-item">
                <label>Categories:</label>
                <div id='categories-options'>
                </div>
            </div>
 
            <button type="button" id="apply-filters-button">Apply Filters</button>

        </form>
        </div>

        <div id='message-container'>
        </div>

        <div>
            <a href="{% url 'create-event' %}"><button class='button-submit'>Create your own event </button></a>
        </div>

        <div class="main-content">
            <div id="events-container"></div>
            <div id="pagination-container"></div>
        </div>

{% endblock content %}


{% block scripts %}
    <script src="{% static 'js/events.js' %}?v=3"></script>
{% endblock scripts %}

