{% load static %}
<html lang="en">
<head>
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
</head>
<body>
<div class="wrapper">
    
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'homepage' %}">Matching Melodies</a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <div class="auth-links">
                    <a href="{% url 'logout-page' %}" id="logout-link">Logout</a>
                    <a href="{% url 'login-page' %}">Login</a> | <a href="{% url 'signup-page' %}">Register</a>
            </div>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock content %}    
    </main>

</div>

<footer></footer>

<script src="{% static 'js/main.js' %}?v=2"></script>
{% block scripts%}
{% endblock scripts %}
</body>
</html>
